*{box-sizing:border-box;}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face{
    font-family: "Chunk Five";
    src: url(../fonts/ChunkFive-Regular.otf);
}

body{
    font-family:arial, sans-serif;
    background: #fceabb;
    background: -webkit-linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f88500 100%);
    background: -moz-linear-gradient(to bottom, #fccd4d 50%, #f88500 100%);
    background: linear-gradient(to bottom, #fccd4d 50%, #f88500 100%);
}

/* styling the navigation with dropdown*/
#mainNav{
    background-color: #333;
}

#mainNav a{
    color: #fff;
    text-decoration: none;
}

#mainNav li{
    display: inline-block;
    padding: 1em;
}

#mainNav li:hover{
    background-color: orange;
}

#mainNav li.dropdown{
    position: relative;
}

#mainNav .dropdown-content{
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#mainNav .dropdown-content a:hover{
    color: #ccc;
}

#mainNav .dropdown-content a{
    display: block;
    padding: 1em;
    color: #000;
}

#mainNav li.dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    top: 50px;
    left: 0px;
    min-width: 100%;
    overflow: auto;
    background-color: #fff;
}

/* styling the rest*/

header{
    text-align:center;
}

h1, h2, h3{
    font-family: "Chunk Five", serif;
}

#content{
    background-color: rgba(255, 255, 255, .3);
    width: 80%;
    padding: 20px;
    margin: 50px auto;
}

#subNav ul{
    list-style-type: none;
    padding: 0;
}

#subNav li{
    background-color: #fccd4d;
    margin-bottom: 10px;
    padding: 5px;
}

#subNav a{
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-decoration: none;
}

#subNav{
    float: left;
    width: 25%;
    padding-right: 20px;
}

#subNav li:hover{
    background-color: #fceabb;
}

#main{
    float: left;
    width: 75%;
    height: 400px;
    overflow: auto;
    padding-right: 50px;
}

footer{
    background-color: #333;
    color:white;
    text-align:center;
    padding:10px 0;
    clear: both;
}